<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>24/7 free sms</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
    />
    <link rel="stylesheet" href="/static/message/css/chat_window.css" />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <div class="section-title-wrapper">
          <img
            src="https://247freesms.com/vendor/blade-flags/country-us.svg"
            class="w-25 m-auto"
            style="padding-bottom: 24px"
          />
          <div class="bg-number">
            <i class="fa fa-envelope-o"></i>
          </div>
          <h2 class="title section-title has-text-left dark-text text-bold">
            <span id="provider-phone">{{number.number}}</span>
            {{number.country}}
            <i class="far fa-copy" onclick="copyNumberToClipboard()"></i>
          </h2>
        </div>

        <div class="solid-list">
          <div class="solid-list-item">
            <div class="list-bullet">
              <i class="icon-check"></i>
            </div>
            <div class="list-text">
              Refresh this page to get the new message
            </div>
          </div>
          <div class="solid-list-item">
            <div class="list-bullet">
              <i class="icon-check"></i>
            </div>
            <div class="list-text">
              New messages will arrive in about 3 seconds
            </div>
          </div>
          <div class="solid-list-item">
            <div class="list-bullet">
              <i class="icon-check"></i>
            </div>
            <div class="list-text">
              Anyone can see the message of this number
            </div>
          </div>
          <a
            href="javascript:;"
            class="button button-cta btn-outlined is-bold btn-align primary-btn raised"
            onclick="ReloadPage()"
          >
            Update Message
          </a>
          <a
            href="#"
            class="button button-cta btn-outlined is-bold btn-align primary-btn raised"
          >
            Change Number
          </a>
        </div>
      </div>
    </div>

    <!-- Messages -->

    <input type="hidden" id="message-number" value="{{ number.number }}" />

    <div class="container message-container">
      <div class="table-container">
        <table id="message-table" class="table is-striped">
          <thead>
            <tr>
              <th>From</th>
              <th>Text</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <!-- Messages will be dynamically added here -->
          </tbody>
        </table>
      </div>
      <div class="column is-4">
        <div class="flex-card light-bordered hover-inset">
          <div class="flex-card-header">
            <div class="header-avatar">
              <h3 class="text-bold">Sim card information</h3>
            </div>
          </div>
          <div class="card-body is-small">
            <div class="content">
              <div class="columns">
                <div class="column is-6 text-left">
                  <span class="is-size-5"> Status</span>
                </div>
                <div class="column is-6 text-right">
                  <span class="is-size-5">Online</span>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6 text-left">
                  <span class="is-size-5"> Country</span>
                </div>
                <div class="column is-6 text-right">
                  <span class="is-size-5">UNITED STATES (US)</span>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6 text-left">
                  <span class="is-size-5"> Received</span>
                </div>
                <div class="column is-6 text-right">
                  <span class="is-size-5">3 SMS</span>
                </div>
              </div>
              <div class="columns">
                <div class="column is-6 text-left">
                  <span class="is-size-5"> Active since</span>
                </div>
                <div class="column is-6 text-right">
                  <span class="is-size-5">10 months ago</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
    <!-- Link the JavaScript file -->
    <script>
      // Check if the number is defined in the template
      var number = "{{ number.number }}";
      // Convert string number to integer
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/message/js/chat_window.js"></script>
  </body>
</html>
