#provider-phone {
    font-family: "Nexa Bold", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 43px;
    color: #00b289;
  }

  .section-title{
    font-family: "Nexa Bold", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 43px;
    color: rgb(68, 79, 96);
  }

   /* .fa-copy {
    font-family: "Nexa Bold", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 43px;
    color: rgb(68, 79, 96);
    margin-left: 10px; 
  }  */

  /* Styling the texts */
  .list-text {
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-size: 20px;
    line-height: 30px;
    color: rgb(74, 74, 74);
  }

  /* Styling the buttons */
  .button {
    background-color: #00b289;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
  }
  .solid-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between items */
}

.list-bullet {
    margin-right: 10px; /* Adjust spacing between bullet and text */
}
.button.button-cta {
  color: #fff; /* Keep button text color */
  border-radius: 4px; /* Adjust border radius as needed */
}
.button.button-cta:hover {
  text-decoration: none; /* Remove underline on hover */
  color: white; /* Keep button text color on hover */
  background-color: #009973;
}


/* Table container */

/* Add round borders and shadow */
.table-container {
  border: 1px solid #ddd; /* Border color */
  width: 60%; /* Occupies 3/4 space on the screen */
  overflow-y: auto; /* Vertical scrollbar will appear if content overflows */
  border-radius: 10px; /* Round borders */
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1); /* Shadow */
}

#message-table {
  width: 100%;
  table-layout: fixed; /* Fix the table layout */
  border-collapse: separate; /* Ensure border-spacing works */
  border-spacing: 0; /* Remove default spacing between cells */
}

/* Styling for even and odd rows */
#message-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Light gray for even rows */
}

#message-table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White for odd rows */
}

/* Style for table header */
#message-table th {
  position: sticky; /* Stick the header */
  top: 0;
  background-color: white; /* Ensure the header remains visible */
  z-index: 1; /* Ensure header appears above the body */
  border-top: 2px solid transparent; /* Add border to separate header from body */
  border-bottom: 2px solid #ddd; /* Add border at bottom of header */
}

/* Style for table body */
#message-table tbody {
  display: block;
  overflow-y: auto; /* Make tbody scrollable */
  max-height: 500px; /* Limit height to prevent overlap */
  border-top: 0px solid #ddd; /* Add border at top of tbody */
}

#message-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#message-table td {
  word-wrap: break-word; /* Wrap long text */
}

/* Elegant scrollbar */
/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.message-container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.table-container {
  flex: 2;
  margin-right: 20px; /* Adjust as needed */
}

.column.is-4 {
  flex: 1;
}

.flex-card {
  border-radius: 10px;
  border: 1px solid #ddd; /* Border color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
}

.flex-card-header {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Border color */
}

.flex-card .card-body {
  padding: 20px;
}

/* Optional: Hover effect */
.hover-inset:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.columns {
  display: flex;
  justify-content: space-between;
}

/* Optional: Add margin between each row */
.columns + .columns {
  margin-top: 10px; /* Adjust as needed */
}
